.card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--white);
  border-radius: 7px;
  padding: 7px 0;
}

.card:not(:last-child) {
  margin-bottom: 14px;
}

.menuButton {
  position: absolute;
  z-index: 1;
  top: 17px;
  right: 15px;
}
/* 
.dropdownList {
  top: 40px;
  right: 0;
  left: unset;
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.dropdownItem {
  padding: 0 20px;
}

.dropdownItem:not(:last-of-type) button {
  border-bottom: 1px solid var(--greyEC);
}

.closeButton {
  width: 100%;
  padding: 15px 0;
  background-color: var(--greyD9);
  color: var(--grey66);
} */

@media (min-width: 1024px) {
  .card {
    flex-direction: row;
    padding: 20px 40px;
  }

  .card:not(:last-child) {
    margin-bottom: 1px;
  }

  .preview {
    flex-basis: 190px;
    order: -1;
  }

  .textContent {
    margin-right: auto;
  }

  .menuButton {
    position: relative;
    z-index: unset;
    top: unset;
    right: unset;
    align-self: center;
  }

  /* .dropdownList {
    top: 50px;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
  } */
}

@media (min-width: 1540px) {
  .card {
    padding-left: 60px;
    padding-left: 60px;
    border-radius: 0;
  }

  .card:hover,
  .card:focus-within {
    outline: 1px solid var(--greyD9);
  }
  /* 
  .dropdownList {
    padding: 10px 0;
  }

  .closeButton {
    display: none;
  } */
}
