.karmaCounter {
  display: flex;
  flex-wrap: nowrap;
}

.karmaCounter > *:not(:last-child) {
  padding-right: 4px;
}

.down svg {
  transform: rotate(180deg);
}

@media (min-width: 1024px) {
  .karmaCounter {
    flex-direction: column;
  }
}

@media (min-width: 1540px) {
  .karmaCounter > button.up:hover > svg > path {
    fill: var(--green);
  }

  .karmaCounter > button.down:hover > svg > path {
    fill: var(--orange);
  }
}
