.actionButton {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.actionButton * {
  color: var(--greyC4);
}

.actionText {
  display: none;
}

.actionNumber {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 1024px) {
  .actionButton * {
    color: var(--grey99);
  }

  .actionText {
    display: inline;
  }

  .actionNumber {
    display: none;
  }
}

@media (min-width: 1540px) {
  .actionButton {
    padding: 5px 0;
  }

  .actionButton:hover .actionText {
    color: var(--orange);
  }

  .actionButton:hover path {
    fill: var(--orange);
  }
}
