.metaData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 10px;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  color: var(--orange);
}

.publishedLabel {
  display: none;
}

@media (min-width: 1024px) {
  .publishedLabel {
    display: inline;
  }

  .userLink {
    margin-right: 0;
  }

  .createdAt {
    margin-right: 10px;
    order: -1;
  }
}

@media (min-width: 1540px) {
  .username:hover {
    text-decoration: underline;
  }
}
